@media(max-width:991px) {
    .workshop-detail-icon .col-lg-6 {
        margin-bottom: 20px;
    }

    .workshop-detail-icon {
        margin-bottom: 0;
    }

    .workshop-detail-content h2::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .row.realtiy {
        flex-direction: column-reverse;
    }

    .workshop-detail {
        padding-top: 40px;
    }

    .ravi-dutt-sharma a {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .reason-s .row .col-lg-6 {
        margin-bottom: 30px;
    }

    .coach-heading h2 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .qualified p {
        font-size: 18px;
        margin-bottom: 16px;
    }

    section.counter-sec .container {
        padding: 0 15px;
    }

    .florida-wrapper .row .col-lg-3.col-md-6 {
        margin-bottom: 30px;
    }

    section.frequently {
        padding: 130px 50px 0;
    }

    .frequently-heading {

        padding: 73px 20px;
    }

    .frequently-heading h2 {
        font-size: 36px;

    }

    .june p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .main-opps {

        flex-direction: column-reverse;
    }
    .live-workshop a::before { 
        left: 15%;
    
    }
}

@media(max-width:767px) {
    .register-now a {
        font-size: 20px;
        padding: 15px 50px;
    }

    .personal-content p.personal-finace {
        font-size: 30px;
    }

    .personal-content p.create-long {
        font-size: 30px;
        line-height: 46px;
    }

    .personal-content span {
        font-size: 30px;
    }

    .workshop-detail-content h2 {
        font-size: 36px;

    }

    .jion-if-want h2 {
        font-size: 30px;
    }

    .succes-our h2 {
        font-size: 36px;
    }

    .Workshop-content h2 {
        font-size: 36px;
    }

    .counter-box {
        max-width: 100%;

    }

    .live-workshop a {
        padding: 17px 53px;
        font-size: 20px;

    }

    .live-workshop {
        margin: 36px 0;
    }

    .this-workshop h2 {
        font-size: 30px;

    }

    .workshop-detail-content h2::after {
        width: 313px;
    }

    .jion-if-want h2::after {

        width: 300px;

    }

    .this-workshop h2::after {
        width: 300px;
    }

    .Workshop-content h2::after {

        width: 300px;

    }

    .register-at a {
        font-size: 20px;
    }

    .register-now-at a {
        font-size: 20px;

    }

    footer {

        margin: 0 15px;
        padding: 41px 0px;
        margin-top: 50px;
    }
}

@media(max-width:575px) {
    .register-now-noe a {
        font-size: 19px;
    }

    section.frequently {
        padding: 100px 0 0;
    }

    .register-now-at a {
        font-size: 16px;
    }
    .june p {
        font-size: 15px;
    }
}